/* #numbers-div {
    height: 70px;
    width: 150px;
    background-color: #bdc8b8;
    border: 1px solid black;
} */

#numbers-div {
    height: 145px;
    width: 538px;
    background: 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 

    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), 
    
    url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg);

    background-repeat: no-repeat;
    background-color: #bdc8b8;
    border: 1px solid black;

    background-size: 6% 32.5%, 6% 32.5%, 6% 32.5%, 6% 32.5%, 6% 32.5%, 6% 32.5%, 6% 32.5%, 2.6%;
    background-position: 

    -0.3% 28%, 3.5% 9%, 7.2% 28%, 3.45% 52.4%, -0.3% 77.4%, 7.2% 77.4%, 3.5% 96%, 12.1% 86%, 
    
    14.7% 28%, 18.5% 9%, 22.2% 28%, 18.45% 52.4%, 14.7% 77.4%, 22.2% 77.4%, 18.5% 96%, 26.6% 86%, 
    
    29.7% 28%, 33.5% 9%, 37.2% 28%, 33.45% 52.4%, 29.7% 77.4%, 37.2% 77.4%, 33.5% 96%, 41.1% 86%, 
    
    44.7% 28%, 48.5% 9%, 52.2% 28%, 48.45% 52.4%, 44.7% 77.4%, 52.2% 77.4%, 48.5% 96%, 55.6% 86%, 
    
    59.7% 28%, 63.5% 9%, 67.2% 28%, 63.45% 52.4%, 59.7% 77.4%, 67.2% 77.4%, 63.5% 96%, 70.1% 86%, 
    
    74.7% 28%, 78.5% 9%, 82.2% 28%, 78.45% 52.4%, 74.7% 77.4%, 82.2% 77.4%, 78.5% 94%, 84.6% 86%, 
    
    89.7% 28%, 93.5% 9%, 97.2% 28%, 93.45% 52.4%, 89.7% 77.4%, 97.2% 77.4%, 93.5% 96%, 99.1% 86%;
}



#buttons-container {
    height: 540px;
    width: 540px;
    background-color: #BEBEBE;
    display: flex;
    flex-wrap: wrap;
}

#buttons-container-2 {
    height: 135px;
    width: 540px;
    background-color: #BEBEBE;
}

.button {
    height: 25%;
    width: 25%;
    background-repeat: no-repeat;
}

#button-7 {
    background-image: url(images/7.png);
}

#button-8 {
    background-image: url(images/8.png);
}

#button-9 {
    background-image: url(images/9.png);
}

#button-divide {
    background-image: url(images/divide.png);
}

#button-4 {
    background-image: url(images/4.png);
}

#button-5 {
    background-image: url(images/5.png);
}

#button-6 {
    background-image: url(images/6.png);
}

#button-multiply {
    background-image: url(images/multiply.png);
}

#button-1 {
    background-image: url(images/1.png);
}

#button-2 {
    background-image: url(images/2.png);
}

#button-3 {
    background-image: url(images/3.png);
}

#button-subtract {
    background-image: url(images/subtract.png);
}

#button-0 {
    background-image: url(images/0.png);
}

#button-point {
    background-image: url(images/point.png);
}

#button-power {
    background-image: url(images/power.png);
}

#button-add {
    background-image: url(images/add.png);
}

#button-back {
    background-image: url(images/back.png);
}

#button-clear {
    background-image: url(images/clear.png);
}

#button-enter {
    background-image: url(images/enter.png);
    width: 50%;
    
}