body {
    background-color: #EFEFEF;
}

#calc-background {
    /* background-image: url(images/calc-demo.png);
    background-repeat: no-repeat;
    background-position: center 130px; */
    position: relative;
    display: flex;
    justify-content: center;
}

#calc-container {
    right: -80px;
    margin: auto;
    width: 545px;
    margin-top: -50px;
    /* border: 1px solid black; */
    padding: 10px;
    border-radius: 30px;
    background-color: #EFEFEF;

    transform: scale(.65);


    position: absolute;
    top: -70px;
    left: -75px;
    
    padding: 5px;
}

#display-div {
    margin: auto;
    height: 145px;
    width: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bdc8b8;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: -7px;
}

#first-char, #third-char, #fifth-char, #seventh-char, #ninth-char, #eleventh-char {
    height: 100px;
    width: 65px;
    margin-left: 5px;
    margin-right: -2px;
    background:url(images/num-blank.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#second-char, #fourth-char, #sixth-char, #eighth-char, #tenth-char, #twelfth-char, #thirteenth-char {
    height: 16px;
    width: 16px;
    margin-top: 75px;
    background:url(images/dot-blank.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#thirteenth-char {
    position: relative;
    left: 3px;
}

#buttons-container {
    height: 540px;
    width: 540px;
    background-color: #EFEFEF;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#buttons-container-2 {
    margin: auto;
    height: 125px;
    width: 540px;
    background-color: #EFEFEF;
}

.button {
    height: 25%;
    width: 25%;
    background-repeat: no-repeat;
}

#button-7 {
    background-image: url(images/7.png);
}

#button-8 {
    background-image: url(images/8.png);
}

#button-9 {
    background-image: url(images/9.png);
}

#button-divide {
    background-image: url(images/divide.png);
}

#button-4 {
    background-image: url(images/4.png);
}

#button-5 {
    background-image: url(images/5.png);
}

#button-6 {
    background-image: url(images/6.png);
}

#button-multiply {
    background-image: url(images/multiply.png);
}

#button-1 {
    background-image: url(images/1.png);
}

#button-2 {
    background-image: url(images/2.png);
}

#button-3 {
    background-image: url(images/3.png);
}

#button-subtract {
    background-image: url(images/subtract.png);
}

#button-0 {
    background-image: url(images/0.png);
}

#button-point {
    background-image: url(images/point.png);
}

#button-power {
    background-image: url(images/power.png);
}

#button-add {
    background-image: url(images/add.png);
}

#button-clear {
    background-image: url(images/clear.png);
    width: 50%;
}

#button-enter {
    background-image: url(images/enter.png);
    width: 50%;
}