/* #numbers-div {
    height: 70px;
    width: 150px;
    background-color: #bdc8b8;
    border: 1px solid black;
} */

#numbers-div {
    height: 145px;
    width: 538px;
    background: url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg), url(images/top-left.svg), url(images/top.svg), url(images/top-right.svg), url(images/middle.svg), url(images/bottom-left.svg), url(images/bottom-right.svg), url(images/bottom.svg), url(images/dot.svg);
    background-repeat: no-repeat;
    background-color: #bdc8b8;
    border: 1px solid black;
    background-size: 8% 44%, 8% 44%, 8% 44%, 8% 44%, 8% 44%, 8% 44%, 8% 44%, 3.6%;
    background-position: 3% 10%, 8.1% -20%, 13.1% 10%, 8% 49.5%, 3% 90%, 13.1% 90%, 8.1% 120%, 57.73% 97%, 23% 10%, 28.1% -20%, 33.1% 10%, 28% 49.5%, 23% 90%, 33.1% 90%, 28.1% 120%, 19.5% 97%, 43% 10%, 48.1% -20%, 53.1% 10%, 48% 49.5%, 43% 90%, 53.1% 90%, 48.1% 120%, 38.7% 97%, 63% 10%, 68.1% -20%, 73.1% 10%, 68% 49.5%, 63% 90%, 73.1% 90%, 68.1% 120%, 76.73% 97%, 83% 10%, 88.1% -20%, 93.1% 10%, 88% 49.5%, 83% 90%, 93.1% 90%, 88.1% 120%, 96% 97%;
}



#buttons-container {
    height: 540px;
    width: 540px;
    background-color: #BEBEBE;
    display: flex;
    flex-wrap: wrap;
}

#buttons-container-2 {
    height: 135px;
    width: 540px;
    background-color: #BEBEBE;
}

.button {
    height: 25%;
    width: 25%;
    background-repeat: no-repeat;
}

#button-7 {
    background-image: url(images/7.png);
}

#button-8 {
    background-image: url(images/8.png);
}

#button-9 {
    background-image: url(images/9.png);
}

#button-divide {
    background-image: url(images/divide.png);
}

#button-4 {
    background-image: url(images/4.png);
}

#button-5 {
    background-image: url(images/5.png);
}

#button-6 {
    background-image: url(images/6.png);
}

#button-multiply {
    background-image: url(images/multiply.png);
}

#button-1 {
    background-image: url(images/1.png);
}

#button-2 {
    background-image: url(images/2.png);
}

#button-3 {
    background-image: url(images/3.png);
}

#button-subtract {
    background-image: url(images/subtract.png);
}

#button-0 {
    background-image: url(images/0.png);
}

#button-point {
    background-image: url(images/point.png);
}

#button-power {
    background-image: url(images/power.png);
}

#button-add {
    background-image: url(images/add.png);
}

#button-back {
    background-image: url(images/back.png);
}

#button-clear {
    background-image: url(images/clear.png);
}

#button-enter {
    background-image: url(images/enter.png);
    width: 50%;
    
}